{
    "plugins": [
      ["@babel/plugin-proposal-decorators", { "legacy": true }],
      "@babel/plugin-transform-classes",
      "@babel/plugin-transform-runtime",
    ],
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "browsers": [
              "> 1%",
              "last 2 versions", 
              "iOS >= 8",
              "Android >= 4"
            ]
          },
          "useBuiltIns": "usage",
          "corejs": "2"
        }
      ],
      "@babel/preset-react"
    ]
  }