.category {
  &__goodlist {
    display: flex;
    flex-wrap: wrap;
    &__item {
      width: 25%;
      text-align: center;
    }
    .img {
      background-size: cover;
      height: 80px;
    }
  }
}